body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2a7b3f;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a.ativo {
  font-weight: bold;
  text-decoration: underline;
}



.banner {
  width: 100%;
  padding: 0;
  margin: 0;
}

.banner img {
  width: 100%;
  height: 250px; /* ajuste a altura como quiser */
  object-fit: cover; /* mantém a proporção e corta se necessário */
  display: block;
}

.estufas-container {
  display: flex;
  margin-top: 30px;
  padding: 0 40px;
}

.estufas-lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.nova-estufa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px; /* espaço entre texto e ícone */
  
  background-color: #4CAF50;
  color: white;
  
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  
  padding: 12px 28px;
  border-radius: 40px; /* formato pílula */
  border: none;
  
  box-shadow: 0 0 15px rgba(76, 175, 80, 0.6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.nova-estufa:hover {
  box-shadow: 0 0 20px rgba(76, 175, 80, 0.9);
  transform: translateY(-2px);
}

.nova-estufa .icone {
  background-color: white;
  color: #4CAF50;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}



.descricao {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card-descricao {
  background: #f5f5f5; /* cor de fundo suave */
  border-radius: 15px;
  padding: 25px;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: left;
}

.card-descricao h2 {
  color: #2c7a2c;
  font-size: 24px;
  margin-bottom: 15px;
}

.card-descricao p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
